.conteudo-principal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 5rem;
}

.conteudo-principal__filmes {
    display: grid; grid-template-columns: repeat(4, 1fr); gap: 15px;
}

.filmes__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 188px;
    height: 256px;
    background-color: rgba(0, 0, 0, 0.11);
}

.filmes__card img {
    width: 130px;
}

.filmes__card button {
    padding: 3px;
    margin-top: 0.5rem;
    border-radius: 15px;
    border: 0;
    background-color: #123458;
    color: #F1EFEC;
}

.conteudo-principal__news {
    display: flex;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.11);
    padding: 15px;
    text-indent: 15px;
    text-align: center;
}

.conteudo-principal__news h2 {
    color: #123458;
    background-color: #1234583d;
    margin-bottom: 1rem;
}

.news_barra-lateral {
    display: flex;
    flex-direction: column;
}

.news_barra-lateral article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

/*Partes da aba sugestões*/

.conteudo-sugestao {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.conteudo-sugestao__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem;
    background-color: #123458;
    width: 500px;
    height: 500px;
    border-radius: 1rem;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.13);
}

.conteudo-sugestao__form h2 {
    font-size: 3rem;
    color: #F1EFEC;
}

.conteudo-sugestao__form p {
    color: #F1EFEC;
    text-align: center;
    padding: 1rem;
}

.form__sugestao {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form__sugestao input {
    width: 16rem;
    height: 3rem;
    border-radius: 50px;
    border: 0;
    padding: 15px;
}

.form__sugestao button {
    width: 7rem;
    height: 3rem;
    border-radius: 50px;
    border: 0;
}